<div align="center">
  <H1>Input log below</H1>
  <mat-form-field class='input-field'  appearance="outline">
    <mat-label>Analyse your log</mat-label>
    <input class="input-line" matInput [formControl]="InputUrl" placeholder="Insert log link"  >
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" class="submit-button"  (click)="redirectToReport()">Submit</button>
</div>

