.list-container{
  width: 80vw;
  margin-left: 10vw;
}

.fight-progress{
  border-radius: 15px;
  width: 10vw;
  height: 2vh;
}

.state{
  position: absolute;
  margin-left: calc(44vw + 65px);
}

.time{
  position: absolute;
  margin-left: calc(43vw + 25px);
}

.bar{
  position: absolute;
  margin-left: 65vw;
}


.back_button{
  position: absolute;
  margin-left: 10vw;
  width: 4vw;
}

.copy_button{
  position: absolute;
  margin-left: 40vw;
}

