

.list-container{
  width: 60vw;
  margin-left: 20vw;
  margin-top: 8vh;
}
.list-container .mat-list-item {
  /*margin-top: 1px;*/
  height: 35px;
}

.loading{
  position: absolute;
  margin-left: 65vw;
  margin-top: 20vh;
}

.time{
  position: absolute;
  margin-left: 3vw;
}

.icon{
  position: absolute;
  margin-left: 0vw;
}

.message{
  position: absolute;
  margin-left: 5vw;
}

.back_button{
  position: absolute;
  margin-left: 30px;
  width: 70px;
}

.wl_button{
  position: absolute;
  margin-left: 120px;
  width: 70px;
  background-color: darkgray;
  color: black;
}

.filter_buttons{
  position: absolute;
  margin-left: 45vw;
}


