

  <H2 *ngIf="this.savedFight; else event_text "  align="center"> Fight with boss {{this.savedFight.name}} {{getState(this.savedFight.kill)}}
    ({{this.timePresent(this.savedFight.end_time-this.savedFight.start_time)}})
    <button mat-raised-button color="primary" type="submit" class="back_button" (click)="return_back()">Back</button>
    <button mat-raised-button color="warn" type="submit" class="wl_button" (click)="go_to_wl()"> WL </button>
  </H2>

  <div class="filter_buttons" *ngIf="this.loading == 0">
    <mat-button-toggle-group #group="matButtonToggleGroup"  multiple=true>
      <mat-button-toggle *ngFor="let button of filterButtons;" value="{{button.tag}}" (change)="onFilterClick($event)" [disabled]="this.buttonsIsDissabled" >
        <mat-icon>{{button.matIcon}}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="loading" *ngIf="this.loading > 0">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </div>

  <div>
    <mat-list class="list-container">
      <mat-list-item *ngFor="let event of showEvents" >


        <div class="icon">
          <mat-icon >  {{eventsIcons[event.tag]}} </mat-icon>
        </div>
        <div class="message">
          <span> {{this.timePresent(event.timestamp)}} </span>
          <span *ngFor="let message of event.message" >

            <span [ngStyle]="{color: this.get_message_color(message[1]) }">
            {{message[0] }}
            </span>
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>


  <ng-template #event_text>
    <H2 align="center"> Fight with boss
    <button mat-raised-button color="primary" type="submit" class="back_button" (click)="return_back()">Back</button>
    <button mat-raised-button color="warn" type="submit" class="wl_button" (click)="go_to_wl()"> WL </button>
    </H2>

  </ng-template>

